*.mp3
*.m4a
*.flac
*.wav
*.opus
*.peaks.json
*.tracks.txt
manifest.json
*.mediaartlocal
*.jpg
*.png
*.gif
*.bmp
.directory
**/BH4WNF~8
**/.mediaartlocal
**/.directory
node_modules/
tools/tool-config.json
**/search-index.json
.codex
vendor/*