body { margin: 10px; }
body, th, td, p, div, li {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
overflow: visible;
}
h1 {
font-size: 18px;
font-weight: bold;
}
table.border {
border: 1px solid #666666;
border-collapse: collapse;
}
th {
font-weight: bold;
vertical-align: top;
padding: 5px;
text-align: left;
background: #990000;
border-right: 1px solid #FFFFFF;
color: #FFFFFF;
}
td {
vertical-align: top;
padding: 5px;
text-align: left;
border-top: 1px solid #666666;
border-right: 1px solid #666666;
}
td.key {
background: #CCCCCC;
font-weight: bold;
}

.download-link {
  margin-right: 15px;
}

.nav-link {
  margin: 0 15px;
}

/* the audio player loses volume control if src duration is longer than 60 minutes
 * on Firefox so we increase the width which also makes the scrubber much longer which is good
 * for long duration sources */
.audioPlayer {
  display: inline;
  border-radius: 20px;
  margin: 0 auto;
  width: 500px;
  position: sticky;
  top: 10px;
  z-index: 100;
}
