body { margin: 10px; }
body, th, td, p, div, li {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
overflow: visible;
}
h1 {
font-size: 18px;
font-weight: bold;
}
table.border {
border: 1px solid #666666;
border-collapse: collapse;
}
th {
font-weight: bold;
vertical-align: top;
padding: 5px;
text-align: left;
background: #990000;
border-right: 1px solid #FFFFFF;
color: #FFFFFF;
}
td {
vertical-align: top;
padding: 5px;
text-align: left;
border-top: 1px solid #666666;
border-right: 1px solid #666666;
}
td.key {
background: #CCCCCC;
font-weight: bold;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* Add dots under the hoverable text */
  cursor: pointer;
  margin-right: 15px;
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden; /* Hidden by default */
  width: 170px;
  background-color: black;
  color: #ffffff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1; /* Ensure tooltip is displayed above content */
  top: -5px;
  left: 125%;
  opacity: 0;
  transition: opacity 4s;
}

.tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

/* Show the tooltip text on hover */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* the audio player loses volume control if src duration is longer than 60 minutes
 * on Firefox so we increase the width which also makes the scrubber much longer which is good
 * for long duration sources */
.audioPlayer {
  display: inline;
  border-radius: 20px;
  margin:0 auto;
  width: 500px;
}
